@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.mud-wasm {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,rgba(86,87,86,1) 50%,rgba(19,18,20,1) 50%);
    /* background: rgb(86,87,86);
                background: linear-gradient(335deg, rgba(86,87,86,1) 0%, rgba(151,152,152,1) 35%, rgba(19,18,20,1) 100%);*/
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1
}

.mud-wasm-cont {
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%)
}

@media only screen and (max-width:991px) {
    .xl-img {
        display: none;
    }
}

@media only screen and (min-width:991px) {
    .sm-img {
        display: none;
    }
}

          
          
/*.loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    color: #00c9d0;
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

    .loader div {
        background-color: #00c9d0;
        display: inline-block;
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        opacity: 0.5;
        border-radius: 50%;
        -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
        animation: ballPulseDouble 2s ease-in-out infinite;
    }

        .loader div:last-child {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }

@-webkit-keyframes ballPulseDouble {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ballPulseDouble {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}*/

/*.mud-grid-spacing-xs-6{*/
/*    margin: 0px;*/
/*}*/
/*.mud-grid-item{*/
/*    padding: 10px;*/
/*}*/
.mud-width-full {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mud-input{
    border-radius: 4px !important;
    
}
.mud-input:before{
    border-bottom: none !important;
}
.mud-input:after{
    border:1px solid red !important;
}