@media only screen and (max-width: 575px) {
    .festival-card .festival-image {
        padding-left: 0px;
        padding-right: 0px;
      }
      .festival-card{
        margin: 10px;
        border: 0.9px solid #dddd;
      }
      
.festival-browser-container {
    width: 100%;
}
}